---
---

@import "{{ site.theme }}";
.allcenter {
  width: 100%; 
}

.leftput {
  width: 23%; 
  float: left;
  background-color: #eee;
  padding: 10px;
  border-radius: 6px;
  margin-right: 20px;
  min-width: 200px;
}

.rightput {
  min-width: 200px;
}

table, th, td{
  border-bottom: 0px; 
}

.maintable{
  margin-top: 25px;
}

.head{
  top: 0px;
  width: 100%;
  left: 0px;
  position: fixed;
  padding: 0px;
}

.boxhead{
  width:100%;
  background-color: #343a40!important;
  padding: 15px;
  margin: 0px;
}

.header_title{
  float: left; 
  margin-right: 40px;
}

.header_links{ 
  padding-top: 5px;
  font-size: medium;
}

a.text_header_links{
  text-decoration: none;
}

a.text_header_links:link, a.text_header_links:visited {
  color: #6c757d;
}

a.text_header_links:hover {
  font-weight: normal;
  color: #C3C3C3;
}

#header_on_black{
  color: white; 
  margin-left: 25px;
}
