---
---

@import "{{ site.theme }}";
:root {
  --min_size: 600px;
  --max_size: 599px;
}
body{   
    padding: 0px; 
    margin: 0px;
    background-color:#E8E8E8;
}

.head{
  width: 100%;
  padding: 0px;
  max-height: 100px;
}

.boxhead{
  background-color: #343a40!important;
  padding: 14px;
  margin: 0px;
  overflow: auto;
}

.header_title{
  float: left; 
  margin-right: 40px;
  height: 29px;
}

.header_links{ 
  padding-top: 5px;
  font-size: medium;
}
@media screen and (max-width: 699px) {
    .header_links {
      display: none;
    }
}

a.text_header_links{
  text-decoration: none;
}

a.text_header_links:link, a.text_header_links:visited {
  color: #6c757d;
}

a.text_header_links:hover {
  font-weight: normal;
  color: #C3C3C3;
}

#header_on_black{
  color: white; 
  margin-left: 25px;
}

.main_content{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 1px;
    background-color: white;
}

@media screen and (min-width: 700px) {
    .main_content {
        margin-right: 60px;
        margin-left: 60px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 1px;
        background-color: white;
    }
}

.allcenter {
  width: 100%; 
  margin-bottom: 20px;
  overflow: auto;
}

.leftput {
  width: 100%; 
  background-color: #eee;
  border-style: solid;
  border-color: #eee;
  border-width: 1px;
  padding: 10px;
  border-radius: 6px;
  box-sizing: border-box;
  margin-bottom: 10pt;
}

@media screen and (min-width: 700px) {
    .leftput {
       width: 240px; 
       float: left;
       background-color: #eee;
       padding: 10px;
       border-radius: 6px;
       margin-right: 20px;
       margin-bottom: 0pt;
    }
}

.rightput {
  min-width: 200px;
}

.bottomput{
  width: 100%;
}
