---
---

@import "{{ site.theme }}";
#anchor {
    padding-top: 67px;
    margin-top: -67px;
}
:root {
  --min_size: 600px;
  --max_size: 599px;
}
body{   
    padding: 0px; 
    margin: 0px;
    background-color: white;
    font-size: 16px;
    font-family: 'Open Sans', -apple-system, "Helvetica Neue", sans-serif;
}

h2 {
  color: #766C7F;   
}

ul {
  margin: 0px;
  padding: 0px;
}

a {
  color: #7E94A4;
  font-weight: bold;
}

a:hover {
  color: #ACCBE1;
  font-weight: bold;
}

.head{
  width: 100%;
  padding: 0px;
  position: relative;
  z-index: 1;
}

.boxcont{
  width: 100%;
  position: fixed;
  z-index: 1;
}
@media screen and (max-width: 699px) {
    .boxcont {
      position: absolute;
    }
}

.boxhead{
  background-color: #393E41!important;
  padding: 0;
  overflow: auto;
  width: 100%;
  max-width: 800px;
  border-width: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; 
  border-bottom-width: 3px;
  border-style: solid;
  border-color: #ACCBE1;
  opacity: 0.95;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 699px) {
    .boxhead {
      position: relative;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      z-index: 1;
    }
}

.header_title{
  margin: 0;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 699px) {
    .header_title {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 1;
    }
}

.header_links{ 
  font-size: 17px;
  margin-right: 35px;
  margin-top: 5px;
}
@media screen and (max-width: 699px) {
    .header_links {
      display: none;
    }
}

a.text_header_links{
  text-decoration: none;
  color: #F8F7F6;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

a.text_header_links:link, a.text_header_links:visited {
  color: #F8F7F6;
}

a.text_header_links:hover {
  color: #766C7F;
}

.header_on_black{
  color: #ACCBE1; 
  margin-left: 35px;
  margin-top: 13px;
  margin-bottom: 16px;
  margin-right: 25px;
  font-size: 28px;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}

.main_content{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 80px;
    padding-bottom: 1px;
    max-width: 750px;
}

@media screen and (min-width: 700px) {
    .main_content {
        margin-right: 60px;
        margin-left: 60px;
        margin:0 auto;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.allcenter {
  width: 100%; 
  margin-bottom: 20px;
  overflow: auto;
}

.allcenter {
  width: 100%; 
  margin-bottom: 20px;
  overflow: auto;
}

@media screen and (min-width: 700px) {
    .allcenter {
        display: flex;
    }
}

.leftput {
  width: 100%; 
  background-color: #F8F7F6;
  color: darkslategrey;
  border-style: solid;
  border-color: #eee;
  border-width: 0px;
  padding: 10px;
  border-radius: 0px;
  box-sizing: border-box;
  margin-bottom: 10pt;
  margin: auto;
  margin-bottom: 20px;
  max-width: 400px;
  position: relative;
}

@media screen and (min-width: 700px) {
    .leftput {
       width: 290px; 
       float: left;
       background-color: #F8F7F6;
       color: #393E41;
       padding: 10px;
       border-radius: 0px;
       margin-right: 20px;
       margin-bottom: 0pt;
       -webkit-transition: background 0.5s ease-in-out;
       -moz-transition: background 0.5s ease-in-out;
       -o-transition: background 0.5s ease-in-out;
       -ms-transition: background 0.5s ease-in-out;
       transition: background 0.5s ease-in-out;
    }
}

@media screen and (min-width: 700px) {
    .leftput:hover {
       background-color: white;
    }
}

.photo {
  padding: 6px;
  box-sizing: border-box;   
}

.rightput {
  min-width: 200px;
}

.bottomput{
  width: 100%;
  margin-bottom: 20px;
}

.Pub{ 
  border-style: dashed;
  border-color: #eee;
  border-width: 1px;
  padding: 5px;
  margin-left: 20px;
}

.Title{
  font-size: initial;
}

.Journal{
  padding-left: 3px;
}

.Date{
  font-weight: bold;
}

.year{
  float: left;
  width: 50px;
  min-width: 50px;
  font-weight: bold;
  font-size: initial; 
}
@media screen and (min-width: 700px) {
    .year {
      width: 100px; 
      min-width: 100px;
    }
}

.university{
}

.entry{
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
@media screen and (min-width: 700px) {
    .entry {
      box-sizing: border-box;
      padding-left: 20px;
    }
}

.footnote{
    width: 100%;
    padding: 5px;
    padding-top: 0pt;
    box-sizing: border-box;
    border-style: dashed;
    border-color: #eee;
    border-width: 0px;
    border-top-width: 1px;
    font-size: 8pt;
    text-align: center;
}
@media screen and (min-width: 700px) {
    .footnote {
      font-size: 9pt;
    }
}

.rotated_entry{
    width: 10px;
    font-weight: 900;
    font-family: arial;
    color: #93928E;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: bt-lr;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}


.entry_60px{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-left: solid 3pt white;
  border-bottom-style: solid;
  border-top-style: solid;
  border-top-color: #F1F0ED;
  border-bottom-color: #EDECE7;
  border-top-width: 0px;
  border-bottom-width: 2px;
  min-height: 60px;
  padding-left: 10px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  box-sizing: border-box;
}

li.entry_60px:hover {
  background-color: #F8F7F6;
  border-left: solid 3pt #53775D;
}

li.entry_60px:hover > .rotated_entry{
    color: #53775D;
}


@media screen and (min-width: 700px) {
    .entry_60px {
      box-sizing: border-box;
      padding-left: 10px;
    }
}

.entry_80px{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-left: solid 3pt white;
  border-bottom-style: solid;
  border-top-style: solid;
  border-top-color: #F1F0ED;
  border-bottom-color: #EDECE7;
  border-top-width: 0px;
  border-bottom-width: 2px;
  min-height: 80px;
  padding-left: 10px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  box-sizing: border-box;
}

li.entry_80px:hover {
  background-color: #F8F7F6;
  border-left: solid 3pt #53775D;
}

li.entry_80px:hover > .rotated_entry{
    color: #53775D;
    z-index: 0;
}


@media screen and (min-width: 700px) {
    .entry_80px {
      box-sizing: border-box;
      padding-left: 10px;
    }
}
@media screen and (min-width: 700px) {
    .shrink_title {
      margin-top: 5px;
      margin-bottom: 8px;
    }
}

@media screen and (min-width: 700px) {
    .shrink_links {
    }
}

@media screen and (min-width: 700px) {
    .fast_trans {
        -webkit-transition: all 0.1s ease-out;
        -moz-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        -ms-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
    }
}


