<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finski Siarhei</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div>
    <div class="head">
      <div class="boxhead">
        <div class="header_title">
          <h1 id="header_on_black">Finski Siarhei</h1>
        </div>
        <div class="header_links">
          <a href = "#contact" class="text_header_links"><span>Contact</span></a>
          &nbsp; &nbsp;
          <a href = "#publications" class="text_header_links"><span>Publications</span></a>
          &nbsp; &nbsp;
          <a href = "#cv" class="text_header_links"><span>CV</span></a>
          &nbsp; &nbsp;
          <a href = "#teaching" class="text_header_links"><span>Teaching</span></a>
        </div>
      </div>
    </div>
    <div class="main_content">
      <div class="allcenter">
        <div class="leftput">
          <a id="contact">
          <img src="https://raw.githubusercontent.com/SFinski/SFinski.github.io/master/images/IMG_2986.jpg" alt="my photo">
          </a> 
          <b>Contact: </b> 
          <p style="margin:0px; padding:0px">
            Université Paris Diderot-Paris 7<br />
            Office: Sophie Germain - 654<br />
            8 Place Aurélie Nemours<br />
            75013 Paris
            <br/>
            <br/>
            Email: siarhei.finski(at)imj-prg.fr
          </p>
        </div>
        <div class="rightput">
          {{ content }}
        </div>
      </div>
      <div class="bottomput">
        <a id="publications"><h2>Publications:</h2></a>
        <div class="Pub">
          <span class="Title">On the full asymptotics of analytic torsion</span><br/>
          <span class="Journal">J. Funct. Anal.</span>&nbsp;
          <span class="Volume">275</span>&nbsp;
          <span class="Pages">3457 - 3503</span>&nbsp;
          (<span class="Date">2018</span>)<br />
          <a href="https://arxiv.org/abs/1705.02779"><span class= "Arxiv">ArXiv</span></a>
        </div>
      </div>
      <div class="bottomput">
        <a id="cv"><h2>CV:</h2></a>
        <div class="cv_entry">
          <div class="year">2016-2019</div>
          <div class="cv_main">
            <span class="title">PhD in Fundamental mathematics</span><br/>
            <span class="university">Université Paris Diderot, Paris 7, France</span><br/>
            <span class="thesis">"On some problems of holomorphic analytic torsion".
               Under the supervision of <a href="https://webusers.imj-prg.fr/~xiaonan.ma/">Xiaonan Ma</a>.</span>
          </div>
        </div>
        <div class="cv_entry">
          <div class="year">2013-2016</div>
          <div class="cv_main">
            <span class="title">École normale supérieure (Paris) diploma in Fundamental mathematics</span><br/>
            <span class="university">École normale supérieure, Paris, France</span><br/>
            <span class="thesis">"Local Atiyah-Singer theory with applications to analytic torsion".
              Under the supervision of <a href="https://webusers.imj-prg.fr/~xiaonan.ma/">Xiaonan Ma</a>.</span>
          </div>
        </div>
        <div class="cv_entry">
          <div class="year">2014-2015</div>
          <div class="cv_main">
            <span class="title">Master 2 Fundamental mathematics</span><br/>
            <span class="university">Université Paris Diderot, Paris 7, France</span><br/>
            <span class="thesis">"Holomorphic quantification commutes with reduction". 
              Under the supervision of <a href="https://webusers.imj-prg.fr/~xiaonan.ma/">Xiaonan Ma</a>.</span>
          </div>
        </div>
        <div class="cv_entry">
          <div class="year">2013-2014</div>
          <div class="cv_main">
            <span class="title">Master 1 Mathematics</span><br/>
            <span class="university">École normale supérieure, Paris, France</span><br/>
            <span class="thesis">"The Riemannian structure on the set of plane curves". 
              Under the supervision of <a href="https://www.ceremade.dauphine.fr/~waldspurger/">Irène Waldspurger</a>.
            </span>
          </div>
        </div>
        <div class="cv_entry">
          <div class="year">2010-2013</div>
          <div class="cv_main">
            <span class="title">Bachelor of Science Applied mathematics and computer science </span><br/>
            <span class="university">Belarusian State University, Minsk, Belarus</span>
          </div>
        </div>
        <p>My CV in pdf.</p>
      </div>
      <div class="bottomput">
        <a id="teaching"><h2>Teaching:</h2></a>
        <div class="teaching_entry">
          <div class="year">2016-2018</div>
          <div class="teach_main">
            <span class="course">Linear algebra and analysis for 1st and 2nd year</span><br/>
            <span class="university">Université Paris Diderot, Paris 7</span>
          </div>
        </div>
        <div class="teaching_entry">
          <div class="year">2010-2012</div>
          <div class="teach_main">
            <span class="course">Lecturer at the National Summer School for Talented Youth</span><br/>
            <span class="university">Naroch, Belarus</span>
          </div>
        </div>
        <div class="teaching_entry">
          <div class="year">2010-2012</div>
          <div class="teach_main">
            <span class="course">Preparing high-school students for mathematical olympiads</span><br/>
            <span class="university">Gymnasium 29, Belarus, Minsk</span>
          </div>
        </div>
      </div>
      
      <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
      {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
      {% endif %}
    </div>
  </body>
</html>
