<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Third year PhD student in pure mathematics, working in the field of global analysis on manifolds in University Paris Diderot under the direction of Xiaonan Ma.">
    <meta name="keywords" content="Finski, Finsky, Siarhei, Sergey, PhD student, math, mathematics, global analysis, manifold, manifolds, Diderot, Paris, Paris 6">
    <meta name="author" content="Finski Siarhei">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finski Siarhei</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div>
    <script>
	window.onscroll = function() {ifscroll()};
	function ifscroll() {
	  var title = document.getElementById("header_on_black");
          var links = document.getElementById("nav_links");
    	  if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
	    title.classList.remove('fast_trans');
            links.classList.remove('fast_trans');
            title.classList.add('shrink_title');
            links.classList.add('shrink_links');
          } else {
            title.classList.remove('shrink_title');
            links.classList.remove('shrink_links');
	    title.classList.add('fast_trans');
     	    links.classList.add('fast_trans');
          }
	}
    </script>
    <!-- 
    <script>
      $(window).scroll(function() {
	var title = document.getElementById("header_on_black");
        var links = document.getElementById("nav_links");
        if ($(document).scrollTop() > 50) {
	  title.classList.remove('fast_trans');
          links.classList.remove('fast_trans');
          title.classList.add('shrink_title');
          links.classList.add('shrink_links');
        } else {
          title.classList.remove('shrink_title');
          links.classList.remove('shrink_links');
	  title.classList.add('fast_trans');
          links.classList.add('fast_trans');
        }
      });
    </script>
    -->
    <div class="head">
      <div class="boxcont">
        <div class="boxhead">
          <div class="header_title">
             <h1 id="header_on_black" class="header_on_black">Finski Siarhei<a href="#footnote"><sup>*</sup></a></h1>
          </div>
          <div class="header_links" id="nav_links">
            <a href = "#contact" class="text_header_links"><span>Contact</span></a>
            &nbsp; &nbsp;
            <a href = "#publications" class="text_header_links"><span>Publications</span></a>
            &nbsp; &nbsp;
            <a href = "#talks" class="text_header_links"><span>Talks</span></a>
            &nbsp; &nbsp;
            <a href = "#cv" class="text_header_links"><span>CV</span></a>
            &nbsp; &nbsp;
            <a href = "#teaching" class="text_header_links"><span>Teaching</span></a> 
          </div>
        </div>
      </div>
    </div>
    <div class="main_content">
      <div class="allcenter">
        <div class="leftput">
          <div style="position:absolute;">
             <a id="contact" style="position:absolute; top:-100px;"></a>
          </div>
          <img src="https://raw.githubusercontent.com/SFinski/SFinski.github.io/master/photo-webpage.jpg" class="photo">
          <b style="color: #766C7F;">Contact: </b> 
          <p style="margin:0px; padding:0px">
            <a href="https://universite.univ-paris-diderot.fr">Université Paris Diderot</a>
            , 
            <a href="https://www.imj-prg.fr">IMJ-PRG</a> <br />
            Office: <a href="https://campus.univ-paris-diderot.fr/location-des-espaces-0/batiment-sophie-germain">
            Sophie Germain</a> - 654<br />
            8 Place Aurélie Nemours<br />
            75013 Paris
            <br/>
            <br/>
            Email: siarhei.finski(at)imj-prg.fr
          </p>
        </div>
        <div class="rightput">
          {{ content }}
        </div>
      </div>
      <div class="bottomput">
        <div style="position:relative;">
          <a id="publications" style="position:absolute; top:-60px;"></a>
        </div>
        <h2>Publications and preprints:</h2>
        <ul>
          <li class="entry_60px">
	    <div class="rotated_entry"></div>
            <div class="cv_main">
              <a href="https://drive.google.com/file/d/1R_ZqfPvL_uZIYxbJL0fikZ14GL41RmpK/view?usp=sharing">
              On the full asymptotics of analytic torsion
              </a>
              <br/>
              <span class="Journal">J. Funct. Anal.,</span>&nbsp;
              <span class="Volume">275 (12):</span>&nbsp;
              <span class="Pages">3457 - 3503,</span>&nbsp;
              <span class="Date">2018</span>.
              <br/>
              <a href="https://arxiv.org/abs/1705.02779">ArXiv</a>
            </div>
          </li>
	  <li class="entry_80px">
            <div class="rotated_entry">in progr.</div>
            <div class="cv_main">
                Spectral theory of surfaces with cusps I. Compact perturbation theorem and anomaly formula. <br/>
		Spectral theory of surfaces with cusps II. Regularity, asymptotics, and curvature theorems. <br/>
		Spectral theory of surfaces with cusps III. Immersion and compatibility theorems.
            </div>
          </li>
        </ul>
      </div>
      
      <div class="bottomput">
        <div style="position:relative;">
          <a id="talks" style="position:absolute; top:-60px;"></a>
        </div>
        <h2>Talks:</h2>
        <ul>
          <li class="entry_60px">
            <div class="rotated_entry">2017</div>
            <div class="cv_main">
              <span class="title">"Analytic L<sup>2</sup>-invariants: Betti numers, Novikov-Shubin-invariants, torsion; classical analytic torsion".</span><br/>
              <span class="university">La Llagonne workgroup on L2 invariants, France.</span> 
              <a href="https://drive.google.com/file/d/1oZ4Z5m187QcdCyspuZPd-E2TzSY5IBPg/view?usp=sharing">Notes</a>.<br/>
            </div>
          </li>
	  <li class="entry_60px">
            <div class="rotated_entry">2015</div>
            <div class="cv_main">
              <span class="title">"Hydrodynamics of perfect fluids and diffeomorphism group".</span><br/>
              <span class="university">Working group on infinitely-dimensional manifolds, ENS (Paris), France.</span>
            </div>
          </li>
	  <li class="entry_60px">
            <div class="rotated_entry">2015</div>
            <div class="cv_main">
              <span class="title">1. "Poisson boundary and Dirichlet problem at infinity".</span><br/>
              <span class="title">2. "Kesten conjecture and a theorem of Varopoulos".</span><br/>
              <span class="university">Working group on random walks on graphs and groups, ENS (Paris), France.</span>
            </div>
          </li>
        </ul>
      </div>
      
      <div class="bottomput">
        <div style="position:relative;">
          <a id="cv" style="position:absolute; top:-60px;"></a>
        </div>
        <h2>CV in <a href="https://drive.google.com/file/d/1GbKm8x-7BNAMuPuC-oWXp3f1p11YiNx7/view?usp=sharing">pdf</a>:</h2>
        <ul>
          <li class="entry_80px">
            <div class="rotated_entry">2016-19</div>
            <div class="cv_main">
              <span class="title">PhD in Fundamental mathematics</span><br/>
              <span class="university">Université Paris Diderot, Paris 7, France</span><br/>
              <span class="thesis">"On some problems of holomorphic analytic torsion".
                 <br/>
                 Under the supervision of <a href="https://webusers.imj-prg.fr/~xiaonan.ma/">Xiaonan Ma</a>.
              </span>
            </div>
          </li>
          <li class="entry_80px">
            <div class="rotated_entry">2013-16</div>
            <div class="cv_main">
              <span class="title">École normale supérieure (Paris) diploma in Fundamental mathematics</span><br/>
              <span class="university">École normale supérieure, Paris, France</span><br/>
              <span class="thesis">"Local index theory and analytic torsion". 
                <a href="https://drive.google.com/file/d/1ecbKQBY8kdgQVk46atrZfL3nfCybC6_3/view?usp=sharing">Presentation (in French).</a>
                <br/>
                Under the supervision of <a href="https://webusers.imj-prg.fr/~xiaonan.ma/">Xiaonan Ma</a>.</span>
            </div>
          </li>
          <li class="entry_80px">
            <div class="rotated_entry">2014-15</div>
            <div class="cv_main">
              <span class="title">Master 2 Fundamental mathematics</span><br/>
              <span class="university">Université Paris Diderot, Paris 7, France</span><br/>
              <span class="thesis">"Holomorphic quantification commutes with reduction".
                <br/>
                Under the supervision of <a href="https://webusers.imj-prg.fr/~xiaonan.ma/">Xiaonan Ma</a>.</span>
            </div>
          </li>
          <li class="entry_80px">
            <div class="rotated_entry">2013-14</div>
            <div class="cv_main">
              <span class="title">Master 1 Mathematics</span><br/>
              <span class="university">École normale supérieure, Paris, France</span><br/>
              <span class="thesis">"The Riemannian structure on the set of plane curves".
                <br/>
                Under the supervision of <a href="https://www.ceremade.dauphine.fr/~waldspurger/">Irène Waldspurger</a>.
              </span>
            </div>
          </li>
          <li class="entry_80px">
            <div class="rotated_entry">2010-13</div>
            <div class="cv_main">
              <span class="title">Bachelor of Science in Applied mathematics and computer science </span><br/>
              <span class="university">Belarusian State University, Minsk, Belarus</span>
	      <span class="thesis"> Lie algebras, elementary algebraic geometry.
                <br/>
                Under the supervision of Boris Doubrov.
              </span>
            </div>
          </li>
        </ul>
      </div>
      
      <div class="bottomput">
        <div style="position:relative;">
          <a id="teaching" style="position:absolute; top:-80px;"></a>
        </div>
        <h2>Teaching:</h2>
        <ul>
          <li class="entry_60px">
            <div class="rotated_entry">2016-18</div>
            <div class="teach_main">
              <span class="course">Linear algebra and analysis for 1st and 2nd year students</span><br/>
              <span class="university">Université Paris Diderot, Paris 7</span>
            </div>
          </li>
          <li class="entry_60px">
            <div class="rotated_entry">2010-12</div>
            <div class="teach_main">
              <span class="course">Lecturer at the National Summer School for Talented Youth</span><br/>
              <span class="university">Naroch, Belarus</span>
            </div>
          </li>
          <li class="entry_60px">
            <div class="rotated_entry">2010-12</div>
            <div class="teach_main">
              <span class="course">Preparing high-school students for mathematical olympiads. <br/>
		      Author of problems and member of the jury of national mathematical competitions</span><br/>
              <span class="university">Gymnasium 29, Belarus, Minsk</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="footnote">
       <div style="position:relative;">
          <a id="footnote" style="position:absolute; top:-80px;"></a>
        </div>
        <sup>*</sup>"Siarhei" is the transliteration of my given name from Belarusian to English. 
        This variant appears in my passport and is the only version used officially. 
        In personal commutications I usually use more common transliteration from Russian, which is "Sergey". 
      </div>
      
      <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
      {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
      {% endif %}
    </div>
  </body>
</html>
