<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finski Siarhei</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div>
    <div class="head">
      <div class="boxhead">
        <div class="header_title">
          <h1 id="header_on_black">Finski Siarhei</h1>
        </div>
        <div class="header_links">
          <a href = "#contact" class="text_header_links"><span>Contact</span></a>
          &nbsp; &nbsp;
          <a href = "#publications" class="text_header_links"><span>Publications</span></a>
          &nbsp; &nbsp;
          <a href = "#cv" class="text_header_links"><span>CV</span></a>
          &nbsp; &nbsp;
          <a href = "#teaching" class="text_header_links"><span>Teaching</span></a>
        </div>
      </div>
    </div>
    <div class="main_content">
      <div class="allcenter">
        <div class="leftput">
          <a id="contact">
          <img src="https://raw.githubusercontent.com/SFinski/SFinski.github.io/master/images/IMG_2986.jpg" alt="my photo">
          </a> 
          <b>Contact: </b> 
          <p style="margin:0px; padding:0px">
            Université Paris Diderot-Paris 7<br />
            Office: Sophie Germain - 654<br />
            8 Place Aurélie Nemours<br />
            75013 Paris
            <br/>
            <br/>
            Email: siarhei.finski(at)imj-prg.fr
          </p>
        </div>
        <div class="rightput">
          {{ content }}
        </div>
      </div>
      <div class="bottomput">
        <a id="publications"><h2>Publications:</h2></a>
        <dd class="Pub">
          <span class="Author">S. Finski</span>
          <span class="Title">On the full asymptotics of analytic torsion</span>
          <span class="Journal">J. Funct. Anal.</span>&nbsp;
          <span class="Volume">275</span>&nbsp;
          <span class="Pages">3457 - 3503</span>&nbsp;
          (<span class="Date">2018</span>)<br />
        </dd>
      </div>
      <div class="bottomput">
        <a id="cv"><h2>CV:</h2></a>
        <p></p>
      </div>
      <div class="bottomput">
        <a id="teaching"><h2>Teaching:</h2></a>
        <p></p>
      </div>
      
      <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
      {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
      {% endif %}
    </div>
  </body>
</html>
